.App {
  max-width: 1920px;
  background-color: black;
  color:#fff;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

@media (min-width: 1024px) {
  .App {
    padding: 0;
  }
}